.carousel-outer-align{
    align-self: center;
    margin-top: 3%;
    background-color: grey;
}

.carousel-outer{ 
    display: 'block';
    width: 90vw;
    height: 50vh;
    padding: 30;
    margin: auto;
}

.container { 
    height: 50vh;
    width: 70vw;
    overflow: hidden;
}

.container img{
    height: 100%;
    object-fit: contain;
    display: block;
    margin-left: 14.25vw;
}
