.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apply-brown{
    color: #866868;
}

.centre-text{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

.image{
    display: block;
    width: 90%;
    margin: auto;
    align-content: center;
}

.card-text{
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
}

.card-header{
    margin-top: 0.4rem;
    font-size: 1.3rem;
}

.card-grid{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto; */
    width: 90%;
    gap: 1%;
    justify-content: center;
    justify-self: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (min-width: 1024px) {
    .card-grid {
      flex-direction: row;
    }
  }

.border{
    border-radius: 2rem;
    width: 80%;
    background-color: #DBC597;
    padding: 1rem;
    margin: auto;
    margin-top: 2%;
}

.materials{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    font-weight: 600;
}